@model IEnumerable<ShoppingOnline.Models.Order>

@{
    ViewData["Title"] = "Index";

}

<h2>Order</h2>

@if (!Model.Any())
{
    <p>Your order is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Book</th>                
                <th>Order Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTime)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}