@{
    ViewData["Title"] = "Home Page";
}
	<style>
		.center-image {
			display: flex;
			justify-content: center;
			align-items: center;
			object-fit: cover;
		}
</style>
<div style="position: absolute; overflow: hidden;">
    <img src="https://images6.alphacoders.com/652/652393.jpg"
         height="550"
		 width="1100"
         class="center-image"/>
</div>
<div style="margin: 10px; padding: 10px; position: relative; color: white" align="left" >
		<h1>Welcome to my Book Store!</h1>
		<h2>Here's our weekly selection of books.</h2>
	</div>



